

#logotipo {
    width: 50px;
}

#Ace{
    margin-top: 10px;
    color: white;
    background: #0d6efd;
    border-radius: 30rem;
    padding-right: 10px ;
    text-align: center;
}

#noticias{
    margin-top: 10px;
    padding-left: 20%;
}

#Foto{

    width: 300px;
    height: 300px;
    border-radius: 150px;
    

}

#datos {
    margin-top: 15px;
    text-align: center;
    padding-right: 400px;

}

#footer{
    margin-top: 20px;
    margin-left: 275px;
    margin-right: 275px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    background: #0d6efd;
    text-align: center;

    

}

#texto {
    margin-left: 550px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#sesion{
    background: #0d6efd;
    color: white;
    margin-top: 20px;
    padding-bottom: 10px;
    border-radius: 60px;
    text-align: center;
    
}

#galeria {
    margin-top: 15px;
    width: 50%;
    padding-bottom: 20px;
    
}

#cantidad1 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

